html {
  font-family: 'Autour One', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #111;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
  }
