html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
  }

  .heading {
    color: #999;
    text-align: center;
  }


@media only screen
and (min-device-width: 567px)
and (orientation: landscape) {
  .heading {
    text-align: center;
    margin-top: 1.75%;
  }
}

@media only screen
and (min-device-width: 1023px)
and (orientation: landscape) {
  .heading {
    font-size: 2.5rem;
    margin-top: 2.5%;
  }
}

@media only screen
and (min-device-width: 1279px)
and (orientation: landscape) {
  .heading {
    font-size: 3rem;
    margin-top: 1%;
  }
}

@media only screen
and (min-device-width: 1365px)
and (orientation: landscape) {
  .heading {
    font-size: 3.5rem;
    margin-top: 3%;
  }
}

@media only screen
and (min-device-width: 1919px)
and (orientation: landscape) {
  .heading {
    font-size: 4rem;
  }
}

@media only screen
and (min-device-height: 320px)
and (orientation: portrait) {
  .heading {
    margin-top: 15%;
    font-size: 5rem;
  }
}

@media only screen
and (min-device-height: 412px)
and (orientation: portrait) {
  .heading {
    font-size: 5.5rem;
    margin-top: 20%;
  }
}

@media only screen
and (min-device-width: 767px)
and (orientation: portrait) {
  .heading {
    font-size: 6rem;
    margin-top: 10%;
  }
}
