.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

.head {
  font-size: 3rem;
  color: #d8db88;
  text-align: center;
}

.para {
  font-size: 1.75rem;
  color: #888;
  text-align: center;
}

.enterButton {
  width: 25%;
  font-family: inherit;
  background-color: #888;
  box-shadow: 0px 0px 15px #d8db88;
}

@media only screen
and (min-device-width: 567px)
and (orientation: landscape) {
  .head {
    font-size: 2rem;
  }

  .para {
    font-size: 1.25rem;
  }

  .enterButton {
    margin-top: 3%;
    font-size: 2rem;
  }
}

@media only screen
and (min-device-width: 1000px)
and (orientation: landscape) {
  .introContainer {
    margin-top: 8%;
  }

  .head {
    font-size: 2.5rem;
  }

  .para {
    font-size: 1.75rem;
  }

  .enterButton {
    margin-top: 8%;
    font-size: 2.25rem;
  }
}

@media only screen
and (min-device-width: 1279px)
and (orientation: landscape) {
  .introContainer {
    margin-top: 2%;
  }

  .head {
    font-size: 2.5rem;
  }

  .para {
    font-size: 1.75rem;
  }

  .enterButton {
    margin-top: 2%;
    font-size: 2.5rem;
  }
}

@media only screen
and (min-device-width: 1365px)
and (orientation: landscape) {
  .introContainer {
    margin-top: 4%;
  }

  .head {
    font-size: 3.5rem;
  }

  .para {
    font-size: 2.5rem;
  }

  .enterButton {
    margin-top: 5.75%;
    font-size: 3.5rem;
  }
}

@media only screen
and (min-device-width: 1850px)
and (orientation: landscape) {
  .introContainer {
    margin-top: 5%;
  }

  .head {
    font-size: 3.25em;
  }

  .para {
    font-size: 2.75rem;
  }

  .enterButton {
    margin-top: 5%;
    font-size: 3.25rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (orientation: portrait) {
  .introContainer {
    margin-top: 14%;
  }

  .head {
    font-size: 3.75rem;
  }

  .para {
    font-size: 2.75rem;
  }

  .enterButton {
    font-size: 5rem;
    margin-top: 19%;
  }
}

@media only screen
and (min-device-width: 750px)
and (orientation: portrait) {
  .introContainer {
    margin-top: 10%;
  }

  .enterButton {
    margin-top: 13  %;
  }
}
