
.cpu0 {
  background: url('http://i.imgs.fyi/img/1wc9.jpg');
  background-size: 110%;
}

.cpu1 {
  background: url('http://i.imgs.fyi/img/1wcd.jpg');
  background-size: 100%;
}

.cpu2 {
  background: url('http://i.imgs.fyi/img/1wce.jpg');
  background-size: 100%;
}

.cpu3 {
  background: url('http://i.imgs.fyi/img/1wcf.jpg');
  background-size: 100%;
}

#optionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  margin: auto;
}

.optionButton {
  font-size: 1.75rem;
  background-color: black;
  color: teal;
}

.turnCounter {
  font-size: 2.2rem;
  font-weight: bold;
  padding-right: 3%;
  margin-left: 3.5%;
  color: teal;
}

@media only screen
and (min-device-width: 567px)
and (orientation: landscape) {
  #optionContainer {
    margin-top: .75%;
  }
}

@media only screen
and (min-device-width: 1023px)
and (orientation: landscape) {
  #optionContainer {
    margin-top: 1.5%
  }
}

@media only screen
and (min-device-width: 1365px)
and (orientation: landscape) {
  .optionButton {
    font-size: 2.5rem;
  }
}

@media only screen
and (min-device-width: 1919px)
and (orientation: landscape) {
  .optionButton {
    font-size: 3.3rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (orientation: portrait) {
  #optionContainer {
    margin-top: 15%;
  }

  .optionButton {
    font-size: 5rem;
  }
}

@media only screen
and (min-device-height: 412px)
and (orientation: portrait) {
  #optionContainer {
    margin-top: 15%;
  }
}

@media only screen
and (min-device-width: 767px)
and (orientation: portrait) {
  #optionContainer {
    margin-top: 11%;
  }
}
