#padContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.pad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 28rem;
  border: solid 3.5px #999;
  margin: auto;
  background-size: 100%;
  box-shadow: 0px 0px 15px #d8db88;
}

.zero {
  border-radius: 100% 0% 0% 0%;
  background: url('../assets/simon0default.jpg');
  background-size: 110%
}

.one {
  border-radius: 0% 100% 0% 0%;
  background: url('../assets/simon1default.jpg');
  background-size: 100%;
}

.two {
  border-radius: 0% 0% 0% 100%;
  background: url('../assets/simon2default.jpg');
  background-size: 100%;
}

.three {
  border-radius: 0% 0% 100% 0%;
  background: url('../assets/simon3default.jpg');
  background-size: 100%;
}

.plyr0 {
  background: url('../assets/simon0plyrselect.jpg');
  background-size: 110%;
}

.plyr1 {
  background: url('../assets/simon1plyrselect.jpg');
  background-size: 100%;
}

.plyr2 {
  background: url('../assets/simon2plyrselect.jpg');
  background-size: 100%;
}

.plyr3 {
  background: url('../assets/simon3plyrselect.jpg');
  background-size: 100%;
}

.cpu0 {
  background: url('../assets/simon0cpuselect.jpg');
  background-size: 110%;
}

.cpu1 {
  background: url('../assets/simon1cpuselect.jpg');
  background-size: 100%;
}

.cpu2 {
  background: url('../assets/simon2cpuselect.jpg');
  background-size: 100%;
}

.cpu3 {
  background: url('../assets/simon3cpuselect.jpg');
  background-size: 100%;
}

@media only screen
and (min-device-width: 567px)
and (orientation: landscape) {
  .pad {
   height: 20rem;
   width: 20rem;
  }
}

@media only screen
and (min-device-width: 1023px)
and (orientation: landscape) {
  .pad {
   height: 26rem;
   width: 26rem;
  }
}

@media only screen
and (min-device-width: 1279px)
and (orientation: landscape) {
  #padContainer {
    padding-top: 0%;
  }

  .pad {
    height: 27rem;
    width: 27rem;
  }
}

@media only screen
and (min-device-width: 1365px)
and (orientation: landscape) {
  .pad {
    height: 35rem;
    width: 35rem;
  }
}

@media only screen
and (min-device-width: 1850px)
and (orientation: landscape){
  .pad {
    height: 38rem;
    width: 38rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (orientation: portrait) {
  #padContainer {
    margin-top: 15%;
  }

  .pad {
    height: 42rem;
    width: 42rem;
  }
}

@media only screen
and (min-device-width: 412px)
and (orientation: portrait) {
  #padContainer {
    margin-top: 15%;
  }
}

@media only screen
and (min-device-width: 767px)
and (orientation: portrait) {
  #padContainer {
    margin-top: 11%;
  }

  .pad {
    height: 36rem;
    width: 36rem;
  }
}
