#padContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.pad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 28rem;
  background-color: black;
  border: solid 3.5px teal;
  margin: auto;
}

.zero {
  border-radius: 100% 0% 0% 0%;
}

.one {
  border-radius: 0% 100% 0% 0%;
}

.two {
  border-radius: 0% 0% 0% 100%;
}

.three {
  border-radius: 0% 0% 100% 0%;
}

.selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 28rem;
  background-color: purple;
  border: dotted 3.5px magenta;
  margin: auto;
}

.cpuSelected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 28rem;
  background-color: turquoise;
  border: dotted 3.5px magenta;
  margin: auto;
}
